.details .photo_employe{
  width: 120px;
  height: 120px;
}

.details .photo_employe img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid rgb(179, 179, 179);
}
.details .description{
    margin-top: 20px;
    padding: 20px;
    background-color: #0b1218;
}
.details .description h4{
    font-size: 18px;
    color: white;
    margin-top: 10px;
}
.details .btn_fermer{
    background-color: #131d28!important;
    color: white!important;
    border-radius: 0!important;
    margin-top: 20px;
}