.Found{
    height: 100vh;
    width: 100%;
    background-color: #131d28;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.Found h2{
    font-size: 150px;
    color:rgb(255, 60, 0);
    font-weight: bold;
}
.Found h4{
    color: white;
}